 * {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
 }


 header {
     width: 100vw;
     height: 60vh;
     background-image: url(/img/pizza.jpg);
     background-size: cover;
     background-repeat: no-repeat;

 }

 /* body {
    text-align: center;
    
 } */

 .color {
     width: 100vw;
     height: 60vh;
     background-color: rgba(0, 0, 0, .5);
 }

 h1 {
     font-family: 'Bebas Neue', cursive;
     color: aliceblue;
     text-align: center;
     line-height: 50vh;
     font-size: 8em;
     letter-spacing: 4px;

 }

 p {
     font-family: 'Corinthia', cursive;
     text-align: center;
     font-size: 3em;
     margin-top: -7%;
     color: white;

     animation: p 3s;
 }




 @keyframes p {
     0% {
         opacity: 0;
     }

     100% {
         opacity: 1;
     }


 }



 #menuBG {
     width: 400px;
     height: 470px;
     margin: 10px auto;

 }

 #frmMenu {
     width: 400px;
     height: 200px;
 }

 #totalPrice {
     width: 200px;
     height: 190px;
     margin: 0 auto;
     float: right;
 }

 .left {
     width: 200px;
     height: 200px;
     float: left;
 }

 .right {
     width: 200px;
     height: 200px;
     padding-left: 20px;
     float: right;
 }

 #showText {
     width: 200px;
     height: 190px;
     margin: 0px auto;
     float: left;
 }

 #cart {
     top: 0;
     margin: 0px auto;
     width: 400px;
     height: 200px;
 }

 #btnOrder {
     margin: 10px 0px 0px 100px;
     width: 150px;
     height: 40px;
     background: #fff;
     border: 2px solid black;
     text-transform: uppercase;
     /* letter-spacing: 1px; */
     font-weight: bold;
     transition: .3s;
     cursor: pointer;
     
     /* padding: 10px; */

}

#btnOrder:hover {
    background-color: black;
    color: #ddd;
}

 
